// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2020-2023 NXP
 */

/dts-v1/;
#include "s32g2.dtsi"

/ {
	model = "NXP S32G274A BlueBox3";

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&timer {
	clock-frequency = <5000000>;
};
