// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;
#include <generated/autoconf.h>
#include <dt-bindings/mailbox/bst_msgbox.h>
#include <dt-bindings/media/bst-isp.h>

#include "bstc1200.dtsi"
#include "bstc1200-db-cluster.dtsi"

/ {
	compatible = "bst,c1200";
	model = "BST C1200 CDCU";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x20027000 console=ttyS0,115200n8 rdinit=/sbin/init root=/dev/ram rw init=/linuxrc rodata=n";
		stdout-path = "uart0";
	};

// OS 1GB
	memory@880000000 {
		device_type = "memory";
		reg = <0x8 0x03400000 0x0 0x01000000
			   0x8 0x0e000000 0x0 0x1000000
			   0x8 0x21000000 0x0 0x16000000
			   0x8 0x37000000 0x0 0x49000000
			   0x8 0x80000000 0x0 0x40000000
			   0xc 0x50000000 0x0 0x03000000
			   0x8 0x06480000 0x0 0x00080000
		>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bst_ufs_reserved: bst_ufs@800000000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x0 0x0 0x20000>;
			no-map;
		};

		bst_nor_flash_code_reserved: bst_nor_flash@800120000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x120000 0x0 0x10000>;
			no-map;
		};
		
			
		bst_ipc_reserved: bst_ipc@800300000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x300000 0x0 0x400000>;
			no-map;
		};


		scmi_buf_reserved: scmi_buf@800150000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x150000 0x0 0x1000>;
			no-map;
		};

		bst_datashare_reserved: bst_datashare@804400000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x4400000 0x0 0x500000>;
			no-map;
		};

		bst_touchscreen_reserved: bst_touchscreen@806710000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x06710000 0x0 0x40000>; //256k
			no-map;
		};

		bst_vmac_reserved: bst_vmac_des@806b10000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x0d500000 0x0 0xA00000>;
			no-map;
		};

		/* Reserved for exchange message between driver and firmware */
		isp_fw_msg_rsv: bst_isp_msg@821000000 {
			reg = <0x8 0x21000000 0x0 0x1000000>;
			/* Reserved IOVA for fixed map */
			iommu-addresses = <&isp 0x0 0x3E000000 0x0 0x42000000>;
			no-map;
		};

		/* Reserved exclusively for firmware */
		isp_fw_buf_rsv: bst_isp_buf@822000000 {
			reg = <0x8 0x22000000 0x0 0x15000000>;
			no-map;
		};

		bst_minidump_reserved: bst_minidump@8b5000000 {
			compatible = "bst,minidump";
			reg = <0x8 0xb5000000 0x0 0xA00000>;
			no-map;
		};

		bst_mrdump_cb_reserved: bst_mrdump@8b5a00000 {
			compatible = "bst,mrdump_cb";
			reg = <0x8 0xb5a00000 0x0 0x200000>;
			no-map;
		};

		/*reserved for global secure dmabuf */
		global_dmabuf_secure_reserved: global_secure_dmabuf@850000000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x50000000 0x0 0x03000000
                   0xc 0x50000000 0x0 0x03000000
			>;
			no-map;
		};
		/*reserved for global normal dmabuf */
		global_dmabuf_normal_reserved: global_normal_dmabuf@837000000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x53000000 0x0 0x2d000000
				   0x8 0x37000000 0x0 0x19000000
				  >;
		};
		/*reserved for global hifi dmabuf */
		global_dmabuf_hifi_reserved: global_hifi_dmabuf@806480000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x06480000 0x0 0x00080000>;
			no-map;
		};

		bst_optee_reserved: bst_optee@803400000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x3400000 0x0 0x1000000>;
			no-map;
		};
		bst_usb_virt_reserved: usb_virt@80e000000 {
			reg = <0x8 0x0e000000 0x0 0x1000000>;
			no-map;
		};
		bst_dpu_buf_reserved: bst_dpu_buf@806921000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x06921000 0x0 0x1000>;
			no-map;
		};

		bst_hwrng_buf_reserved: bst_hwrng_buf@806d32000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x06d32000 0x0 0x1000>;
		};
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
			chip-number = <2>;
		};
	};

	tee {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		reg = <0x0 0x18060000 0x0 0x1f000>;
		memory-region = <&bst_optee_reserved>;
		mbox-names = "bst-mbox";
		chip-number = <2>;
	};
};


&firmware_scmi {
	status = "okay";
	shmem = <&scmi_buf_reserved>;
	reg = <0x0 0x20011028 0 0x14>;
	
	
	 scmi_pinctrl: protocol@19 {
                        reg = <0x19>;
                        #pinctrl-cells = <0>;
			
			gpio_pinctrl:gpio_pinctrl {
        			mux {
            				pins = "WK_GPIO13";
            				function = "gpio";
        			};
    			};
			hpd_pinctrl:hpd_pinctrl {
				mux {
					pins = "EDP_HPD";
					function = "edp";
				};
			};
			lvds0_pinconfig:lvds0_pinconfig {
				config {
					pins = "LVDS0_ODD_TX0", "LVDS0_ODD_TX1", "LVDS0_ODD_TX2", "LVDS0_ODD_TX3", "LVDS0_ODD_CLKN";
					input-enable;
				};
			};
			lvds1_pinconfig:lvds1_pinconfig {
				config {
					pins = "LVDS0_EVEN_TX0", "LVDS0_EVEN_TX1", "LVDS0_EVEN_TX2", "LVDS0_EVEN_TX3", "LVDS0_EVEN_CLKN";
					input-enable;
				};
			};
			isp_pinctrl: isp_pinctrl {
				mux {
					/* ISP FSYNC 0, 1, 2, 5, 6, 7 */
					pins = "ISP_FSYNC0", "ISP_FSYNC1", "ISP_FSYNC2", "WK_GPIO33", "WK_GPIO34","WK_GPIO35";
					function = "isp";
				};
			};
			deser_pinctrl: deser_pinctrl {
				deser_pdb_pins {
					/* Deser 0 PDB, Deser 1 PDB, Deser 2 PDB */
					pins = "WK_GPIO15", "WK_GPIO20", "WK_GPIO21";
					function = "gpio";
				};
				deser_status_pins {
					/* Deser 0 LOCK, ERR, Deser 1 LOCK, ERR, Deser 2 LOCK, ERR */
					pins = "SC_SDMMC0_WP", "SC_SDMMC1_STROBE", "SC_SDMMC1_CLK", "SC_SDMMC1_CMD", "SC_SDMMC1_DAT0", "SC_SDMMC1_DAT1";
					function = "gpio";
					bias-pull-up;
					input-enable;
				};
			};
        };
};

&hwrng {
	status = "okay";
	memory-region = <&bst_hwrng_buf_reserved>;
	msgbx-pid = <0x20>;
};

&i2c0 {
	status = "disable";
};
&i2c1 {
	status = "disable";
};
&i2c2 {
	status = "disable";
};
&i2c3 {
	status = "disable";
};
&i2c4 {
	status = "disable";
};
&i2c5 {
	status = "disable";
};
&i2c6 {
	status = "disable";
};
&i2c7 {
	status = "disable";
};

&i2cq0 {
	uid = <2>;
	interrupts = <GIC_SPI 90 IRQ_TYPE_LEVEL_HIGH>;
	ipc-sem = <2 0 12>;	// Master 2, bank 0, sem 12
	role = <ROLE_SLAVE>;
};
&i2cq1 {
	uid = <2>;
	interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL_HIGH>;
	ipc-sem = <2 0 12>;	// Master 2, bank 0, sem 12
	role = <ROLE_SLAVE>;
};
&i2cq2 {
	uid = <2>;
	interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL_HIGH>;
	ipc-sem = <2 0 12>;	// Master 2, bank 0, sem 12
	role = <ROLE_SLAVE>;
};
&csi0 {
	uid = <2>;
	interrupts = <GIC_SPI 93 (IRQ_TYPE_LEVEL_HIGH)>,
		     <GIC_SPI 94 (IRQ_TYPE_LEVEL_HIGH)>;
	ipc-sem = <2 0 13>;	// Master 2, bank 0, sem 13
};
&csi1 {
	uid = <2>;
	interrupts = <GIC_SPI 95 (IRQ_TYPE_LEVEL_HIGH)>,
		     <GIC_SPI 96 (IRQ_TYPE_LEVEL_HIGH)>;
	ipc-sem = <2 0 13>;	// Master 2, bank 0, sem 13
};
&csi2 {
	uid = <2>;
	interrupts = <GIC_SPI 97 (IRQ_TYPE_LEVEL_HIGH)>,
		     <GIC_SPI 98 (IRQ_TYPE_LEVEL_HIGH)>;
	ipc-sem = <2 0 13>;	// Master 2, bank 0, sem 13
};
&isp_bus {
	dma-ranges = <0x0 0x00400000 0x8 0x8B000000 0x0 0x3DC00000>,
		     <0x0 0x3E000000 0x0 0x3E000000 0x0 0x02000000>,	// Reserved to restrict IOVA area
		     <0x0 0x40000000 0x0 0x20000000 0x0 0x07000000>,	// Outer registers area
		     <0x0 0x47000000 0x0 0x30000000 0x0 0x01000000>,	// Outer registers area
		     <0x0 0x50000000 0x0 0x50000000 0x0 0x10000000>,	// ISPCV inner registers
		     <0x0 0x60000000 0x8 0x00200000 0x0 0x00600000>,	// IPC area, see bst_ipc_reserved, 2MB aligned
		     <0x0 0x60600000 0x8 0x21000000 0x0 0x16000000>;	// For isp_fw_msg_rsv, isp_fw_buf_rsv
};
&isp {
	uid = <2>;
	msgbox-cpu = <CPUMP2_1 1 2>;
	ipc-cpu = <4>;		// DB0
	ipc-sem = <2 0 14>;	// Master 2, bank 0, sem 14
	role = <ROLE_SLAVE>;
};

&uart0 {
	status = "disable";
};
&uart1 {
	status = "disable";
};
&uart2 {
	status = "okay";
	dmas = <&gdma0 23>,<&gdma0 22>;
	dma-names = "tx", "rx";
	interrupts = <GIC_SPI 80 IRQ_TYPE_LEVEL_HIGH>;
};
&uart3 {
	status = "disable";
};

&spi0 {
	status = "disable";
};
&spi1 {
	status = "disable";
};
&spi2 {
	status = "disable";
};
&spi3 {
	status = "disable";
};

&i2s0 {
	status = "disable";
};
&i2s1 {
	status = "disable";
};
&i2s2 {
	status = "disable";
};
&i2s3 {
	status = "disable";
};

&tdm0 {
	status = "disable";
};
&tdm1 {
	status = "disable";
};
&tdm2 {
	status = "disable";
};
&tdm3 {
	status = "disable";
};

&watchdog0 {
	status = "disable";
};
&watchdog1 {
	status = "disable";
};
&watchdog2 {
	status = "disable";
};
&watchdog3 {
	status = "disable";
};
&watchdog_soc0 {
	status = "disable";
};
&watchdog_soc1 {
	status = "disable";
};
&watchdog_soc2 {
	status = "disable";
};
&watchdog_soc3 {
	status = "disable";
};

&watchdog_soc4 {
	status = "disable";
};
&watchdog_soc5 {
	status = "disable";
};
&watchdog_soc6 {
	status = "disable";
};
&watchdog_soc7 {
	status = "disable";
};
&watchdog_db0 {
	status = "okay";
};
&watchdog_db1 {
	status = "disable";
};
&watchdog_db2 {
	status = "okay";
};
&watchdog_db3 {
	status = "disable";
};

&lsp0_pwm0 {
	status = "disable";
};
&lsp1_pwm0 {
	status = "disable";
};

&gpio0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&gpio_pinctrl &isp_pinctrl &deser_pinctrl>;
};
&porta {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio1 {
	status = "okay";
};
&portb {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio2 {
	status = "okay";
};
&portc {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio3 {
	status = "okay";
};
&portd {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio4 {
	status = "okay";
};
&porte {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio5 {
	status = "okay";
	/*also need to set intterupt table in sbl-dtb
	* and change the gpio5 interrupt from 250 to the number 
	* according to the db interrupts which are routed from soc
	*/
};
&portf {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio6 {
	status = "okay";
};
&portg {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpio7 {
	status = "disable";
};
&porth {
	interrupts = <GIC_SPI 88 (IRQ_TYPE_LEVEL_HIGH)>;
};
&gpiokeys {
	status = "disable"; //for STR SW3 WAKEUP
};

&gdma0 {
	status = "okay";
	dma-channels = <2>;
	snps,chan-start = <30>;
	snps,block-size = <1048576 1048576>;

	snps,priority = <17 16>;

	interrupts =  < GIC_SPI 99 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_HIGH)
					GIC_SPI 100 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_HIGH)>;

};

&swdma0 {
	status = "disable";
};

&usbdwc3 {
	interrupts = <0x0 85 0x4>;
};
&usbdwc2 {
	interrupts = <0x0 86 0x4>;
};
&bst_usb_msg{
	msgbox-pid = "CPUMP2_0";
};
&usbdrd_dwc3 {
	status = "disable";
};
&dwc3 {
	status = "disable";
};

&nor_flash {
	memory-region = <&bst_nor_flash_code_reserved>;
	status = "okay";
};

&timer0 {
	status = "disable";
};

&timer1 {
    interrupts = <GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>; 
	timer-chan = <0x4>;
    status = "okay";	                   
};

&mmc0 {
	status = "disable";
};
&mmc1 {
	status = "disable";
};

&mmu600_codec {
	status = "disable";
};
&mmu600_soc {
	status = "disable";
};
#if defined(CONFIG_VIDEO_BST_ISP_MULTI_OS)
&mmu600_coreip {
	status = "okay";
};
#endif

&ufs {
	interrupts = <GIC_SPI 81 IRQ_TYPE_LEVEL_HIGH
				  GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>; 
	ufs-timer = <0x4>;
	status = "okay";
};

&codec0 {
	status = "disable";
};
&codec1 {
	status = "disable";
};

&mipi_dsi0 {
	status = "disable";
};
&mipi_dsi1 {
	status = "disable";
};
&mipi_csr {
	status = "disable";
};

&bst_dptx {
	status = "disable";
	pinctrl-names = "default";
	pinctrl-0 = <&hpd_pinctrl>;
};

&xrp0 {
	status = "disable";
};

&bst_dpu0 {
	status = "disable";
};
&bst_dpu2 {
	status = "disable";
};
&bst_dpu1 {
	status = "disable";
};

&lvds_conn {
	status = "disable";
	pinctrl-names = "default";
	pinctrl-0 = <&lvds0_pinconfig &lvds1_pinconfig>;
};

&gpu_ivi {
	status = "disable";
};

&gpu_adas {
	status = "disable";
};

&gpu_db {
	status = "okay";
};

&pinctrl {
	status = "disable";
};

&clkc {
	status = "okay";
};

&gtc {
	status = "okay";
};

&xgmac0 {
	status = "disable";
};

&vmac {
	status = "okay";
	interrupt-parent = <&gic600>;
	interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 68 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>,
			   <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "vmac_irq0", "vmac_irq1", "vmac_irq2", "vmac_irq3",
		"vmac_irq4", "vmac_irq5", "vmac_irq6", "vmac_irq7";
	//mac-address = [52AECD28C140];
	channel-bit = <0x00000000 0x00000100>;
	max-frame-size = <3800>;
	tx-queues-to-use = <1>;
	rx-queues-to-use = <1>;
	memory-region = <&bst_vmac_reserved>;
};

&gic600 {
	status = "okay";
	reg = <0x0 0x33200000 0 0x10000>,	// GICD
			<0x0 0x33240000 0 0x40000>;	// GICR
};

&ipc {
	status = "okay";
	memory-region = <&bst_ipc_reserved>;
};

&mbox {
	status = "okay";
	ipc-cpus = <4>;
	memory-region = <&bst_ipc_reserved>;
};



&msgbox {
	status = "okay";
	reg =   <0x0 0x33300000 0 0x100000>; //db
	spi-irq-num = <0>;
	filter-num = <2>;
	interrupts =    <
	GIC_PPI 4 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)
	GIC_PPI 15 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)
	>;
	#mbox-cells = <0x1>;
};

&arm_pmu {
	status = "disable";
};

&bst_disp_fw_msgbx {
	status = "disable";
	msgbx-pid = "CPUMP2_0"; /* "CPUMP2_0" "CPUMP2_1" */
};

&bst_disp_fw_ipc {
	status = "okay";
	memory-region = <&bst_dpu_buf_reserved>;
	ipc-pid = "DB0";
};

&bst_virt_dpu0 {
	status = "okay";
	os-type = "DB"; /* "ADAS", "DB" */
	pipeline@0 {
		status = "okay";
		layer-num = <1>;
		port@0 {
			virt_pipe0_out: endpoint@0 {
				remote-endpoint = <&virt_lvds1_in>;
			};
		};
	};
};

&bst_virt_lvds1 {
	status = "okay";
	backlight = <&backlight_lvds1>;
	ports {
		port@0 {
			virt_lvds1_in: endpoint@0 {
				remote-endpoint = <&virt_pipe0_out>;
			};
		};
	};
};

&backlight_lvds1 {
	client-id = <0x44422020>;
	status = "okay";
};

&virtouch {
	status = "okay";
	memory-region = <&bst_touchscreen_reserved>;
	/*
	 * client-id:
	 * 0x41444153: "ADAS"
	 * 0x49564920: "IVI "
	 * 0x44422020: "DB  "
	 */
	client-id = <0x44422020>;
	/*
	 * screens-id:
	 * 0x9: screen_lvds0  adas
	 * 0xa: screen_lvds1  adas/ivi/db
	 * 0x7: screen_dsi0  ivi
	 * 0x8: screen_dsi1  ivi
	 * 0x6: screen_edp   adas/ivi
	 */
	screens-id = <0xa>;
};

&mmu600_coreip {
	status = "okay";
};

&bstn_bus {
       /*           cpu va          net va         size          */
       dma-ranges = <0x0 0x00100000 0x0 0x00100000 0x0 0x3FF00000>; /* db msg */
};

&bstn {
       status = "okay";
       iommus = <&mmu600_coreip 1>,<&mmu600_coreip 4>;
       msgbox-endid = <0x21>;
       //dma-coherent;
};

&cv_bus {
	dma-ranges = <0x0 0x00100000 0x8 0x8b000000 0x0 0x3ff00000>;
};

&bst_cvsmm {
	status = "okay";
	iommus = <&mmu600_coreip 2>;
};

&hwcv {
	status = "okay";
	use-cvsmm;
	ipc-sem = <2 0 8>; //<master_id bank_id msg_id>
};
