// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;
#include "bstc1200.dtsi"

/ {
	compatible = "bst,c1200";
	model = "BST C1200";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x20007000 console=ttyS0,115200n8 rdinit=/sbin/init root=/dev/ram rw init=/linuxrc rodata=n";
		stdout-path = "uart0";
	};

	/* This is used to push the total usable DDR to Normal Zone
	 * DON NOT USE IT !!!
	 */
	memory@1000000 {
	device_type = "memory";
	reg = <0x0 0x1000000 0x0 0x1000>;
	};

	memory@c00000000 {
	device_type = "memory";
	reg = <0xc 0x40000000 0x1 0x80000000>;
	};

	memory@800000000 {
	device_type = "memory";
	reg = <0x8 0x00000000 0x0 0x20000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bst_ufs_reserved: bst_ufs@800000000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x000000 0x0 0x20000>;
			no-map;
		};
		scmi_buf_reserved: scmi_buf@800152000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x152000 0x0 0x1000>;
			no-map;
		};

		reserved_for_normal_zone: reserved@1000000 {
			reg = <0x0 0x1000000 0x0 0x1000>;
			no-map;
		};


		bst_nor_flash_code_reserved: bst_nor_flash@800140000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x140000 0x0 0x10000>;
			no-map;
		};
		bst_ipc_reserved: bst_ipc@800300000 {
			compatible = "shared-dma-pool";
			reg = <0x8 0x300000 0x0 0x400000>;
			no-map;
		};
	};

/****************************************************************************************/
/*	c0_lockstep/c1_split	1 + 5: c0 0x0 + c0 0x100 \ c1 0x0 ~ 0x300
 *	c0_lockstep/c1_lockstep	1 + 3: c0 0x0 + c0 0x100 \ c1 0x0 ~ 0x100
 *	split			2 + 6: c0 0x0 ~ 0x100 + c0 0x200 ~ 0x300 \ c1 0x0 ~ 0x300
 *	split			4 + 4: c0 0x0 ~ 0x300 + c1 0x0 ~ 0x300
 */
/****************************************************************************************/
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu_l0: cpu@0 {
			compatible = "arm,cortex-a78", "arm,armv8";
			device_type = "cpu";
			enable-method = "psci";
			next-level-cache = <&l2_0>;
			reg = <0x0>;
			freq-domain = <&cpufreq 0>;

			i-cache-size = <0x10000>;
			i-cache-line-size = <64>;
			i-cache-sets = <256>;
			d-cache-size = <0x10000>;
			d-cache-line-size = <64>;
			d-cache-sets = <256>;

			l2_0: l2-cache {
				compatible = "cache";
				cache-level = <2>;
				next-level-cache = <&l3_0>;
				cache-size = <0x80000>;
				cache-line-size = <64>;
				cache-sets = <1024>;
			};
		};

		cpu_l1: cpu@1 {
			compatible = "arm,cortex-a78", "arm,armv8";
			device_type = "cpu";
			enable-method = "psci";
			next-level-cache = <&l2_1>;
			reg = <0x100>;
			freq-domain = <&cpufreq 0>;

			i-cache-size = <0x10000>;
			i-cache-line-size = <64>;
			i-cache-sets = <256>;
			d-cache-size = <0x10000>;
			d-cache-line-size = <64>;
			d-cache-sets = <256>;

			l2_1: l2-cache {
				compatible = "cache";
				cache-level = <2>;
				next-level-cache = <&l3_0>;
				cache-size = <0x80000>;
				cache-line-size = <64>;
				cache-sets = <1024>;
			};
		};

		cpu_l2: cpu@2 {
			compatible = "arm,cortex-a78", "arm,armv8";
			device_type = "cpu";
			enable-method = "psci";
			next-level-cache = <&l2_2>;
			reg = <0x200>;
			freq-domain = <&cpufreq 0>;

			i-cache-size = <0x10000>;
			i-cache-line-size = <64>;
			i-cache-sets = <256>;
			d-cache-size = <0x10000>;
			d-cache-line-size = <64>;
			d-cache-sets = <256>;

			l2_2: l2-cache {
				compatible = "cache";
				cache-level = <2>;
				next-level-cache = <&l3_0>;
				cache-size = <0x80000>;
				cache-line-size = <64>;
				cache-sets = <1024>;
			};
		};

		cpu_l3: cpu@3 {
			compatible = "arm,cortex-a78", "arm,armv8";
			device_type = "cpu";
			enable-method = "psci";
			next-level-cache = <&l2_3>;
			reg = <0x300>;
			freq-domain = <&cpufreq 0>;

			i-cache-size = <0x10000>;
			i-cache-line-size = <64>;
			i-cache-sets = <256>;
			d-cache-size = <0x10000>;
			d-cache-line-size = <64>;
			d-cache-sets = <256>;

			l2_3: l2-cache {
				compatible = "cache";
				cache-level = <2>;
				next-level-cache = <&l3_0>;
				cache-size = <0x80000>;
				cache-line-size = <64>;
				cache-sets = <1024>;
			};
		};

		l3_0: l3-cache@0 {
			compatible = "cache";
			cache-level = <3>;
			cache-size = <0x200000>;
			cache-line-size = <64>;
			cache-sets = <2048>;
		};
	};

	psci {
		compatible	= "arm,psci-1.0";
		method		= "smc";
		cpu_on		= <0xC4000003>;
		cpu_off		= <0x84000002>;
		cpu_suspend	= <0xC4000001>;
	};
};

&firmware_scmi {

	shmem = <&scmi_buf_reserved>;
	reg = <0x0 0x20011000 0 0x14>;


	status = "okay";
};
&i2c0 {
	status = "disable";
};
&i2c1 {
	status = "disable";
};
&i2c2 {
	status = "okay";
	es8316: es8316@11 {
		status = "okay";
		compatible = "everest,es8316";
		reg = <0x11>;
		#sound-dai-cells = <0>;
		es8316,analog-input-mux = <1>;
	};

	pcm3168a: pcm3168a-codec@44 {
		status = "okay";
		compatible = "ti,pcm3168a";
		reg = <0x44>;
		#sound-dai-cells = <0>;
	};
};
&i2c3 {
	status = "disable";
};
&i2c4 {
	status = "disable";
};
&i2c5 {
	status = "disable";
};
&i2c6 {
	status = "disable";
};
&i2c7 {
	status = "disable";
};
&i2cq0 {
	status = "disable";
};
&i2cq1 {
	status = "disable";
};
&i2cq2 {
	status = "disable";
};

&uart0 {
	status = "okay";
};
&uart1 {
	status = "disable";
};
&uart2 {
	status = "disable";
};
&uart3 {
	status = "disable";
};

&spi0 {
	status = "disable";
};
&spi1 {
	status = "disable";
};
&spi2 {
	status = "disable";
};
&spi3 {
	status = "disable";
};

&i2s0 {
	status = "okay";
};
&i2s1 {
	status = "disable";
};
&i2s2 {
	status = "disable";
};
&i2s3 {
	status = "disable";
};

&watchdog0 {
	status = "disable";
};
&watchdog1 {
	status = "disable";
};
&watchdog2 {
	status = "disable";
};
&watchdog3 {
	status = "disable";
};
&watchdog_soc0 {
	status = "disable";
};
&watchdog_soc1 {
	status = "disable";
};
&watchdog_soc2 {
	status = "disable";
};
&watchdog_soc3 {
	status = "disable";
};

&watchdog_soc4 {
	status = "disable";
};
&watchdog_soc5 {
	status = "disable";
};
&watchdog_soc6 {
	status = "disable";
};
&watchdog_soc7 {
	status = "disable";
};
&watchdog_db0 {
	status = "disable";
};
&watchdog_db1 {
	status = "disable";
};
&watchdog_db2 {
	status = "disable";
};
&watchdog_db3 {
	status = "disable";
};

&lsp0_pwm0 {
	status = "disable";
};
&lsp1_pwm0 {
	status = "disable";
};

&gpio0 {
	status = "disable";
};
&gpio1 {
	status = "disable";
};
&gpio2 {
	status = "disable";
};
&gpio3 {
	status = "disable";
};
&gpio4 {
	status = "disable";
};
&gpio5 {
	status = "disable";
};
&gpio6 {
	status = "disable";
};
&gpio7 {
	status = "disable";
};
&gpiokeys {
	status = "disable";
};

&gdma0 {
	status = "okay";
};

&swdma0 {
	status = "disable";
};

&mmu600_soc{
	status = "okay";
};


&usbdwc3 {
		iommus = <&mmu600_soc 1>;
};

&usbdrd_dwc3 {
	status = "okay";
};

&usbdwc2 {
		iommus = <&mmu600_soc 2>;
};
&dwc3 {
	status = "okay";
};

&mmc0 {
	status = "disable";
};
&mmc1 {
	status = "disable";
};

&nor_flash {
	memory-region = <&bst_nor_flash_code_reserved>;
	status = "okay";
};

&mmu600_codec {
	status = "disable";
};
&mmu600_soc {
	status = "disable";
};

&ufs {
	reg = <0x0 0x23005f00 0 0x100>,
		  <0x0 0x20011000 0 0x1000>;
    interrupts = <GIC_SPI 184 IRQ_TYPE_LEVEL_HIGH
					GIC_SPI 218 IRQ_TYPE_LEVEL_HIGH>; 
	ufs-timer = <0x0>;
	status = "okay";
};

&lvds_conn {
	status = "disable";
};

&pinctrl {
	status = "disable";
};

&clkc {
	status = "disable";
};

&xgmac0 {
	status = "disable";
};

&gic600 {
	status = "okay";
	};

&its0_x4 {
	status = "okay";
};

&ipc {
	status = "okay";
	memory-region = <&bst_ipc_reserved>;
};

&mbox {
	status = "okay";
	ipc-cpus = <0>;
	memory-region = <&bst_ipc_reserved>;
};


&msgbox {
	status = "okay";
	spi-irq-num = <4>;
	filter-num = <8>;
	// id = <0x0>;
	// end0 and end1 spi irq
	interrupts =    <
			GIC_PPI 2 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)
			GIC_PPI 3 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)
			GIC_PPI 4 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)
			GIC_PPI 15 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)
			GIC_SPI 544 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 545 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 546 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 547 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 548 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 549 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 550 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 551 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 552 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 553 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 554 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 555 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 556 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 557 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 558 (IRQ_TYPE_LEVEL_HIGH)
			GIC_SPI 559 (IRQ_TYPE_LEVEL_HIGH)
			>;
	#mbox-cells = <0x1>;
};

&arm_pmu {
	status = "disable";
};

&timer0 {
    interrupts = <GIC_SPI 218 IRQ_TYPE_LEVEL_HIGH>;
       timer-chan = <0x0>;
    status = "okay";
};

&timer1 {
       status = "disable";
};

