menu "CNS3XXX Gigabit Switch Support"
	depends on ARCH_CNS3XXX

config CNS3XXX_GSW
	tristate "CNS3XXX Gigabit Switch Driver Support"
	depends on ARCH_CNS3XXX
	select CNS3XXX_PSE_INIT
	help
	  CNS3XXX layer-2 Packet Switching Enging(PSE) is a 5-port Layer-2
	  non-blocking shared-memory switch fabric: 3 MAC ports are exposed
	  for external connections, and the other two are used internally for
	  CPU port, and L2/L3/L4 Packet Processing Engine(PPE) respectively.

config CNS3XXX_ETHADDR_IN_FLASH
	bool "CNS3XXX MAC address in flash"
	depends on CNS3XXX_GSW && MTD
	help
	  Say Y if you want to load MAC address from flash.

choice
	prompt "Load MAC address from ..."
	depends on CNS3XXX_ETHADDR_IN_FLASH
	default MAC_IN_PARALLEL_FLASH

config CNS3XXX_MAC_IN_PARALLEL_FLASH
	bool "Parallel Flash"

config CNS3XXX_MAC_IN_SPI_FLASH
	bool "SPI Flash"

endchoice

config CNS3XXX_PSE_INIT
	tristate "CNS3XXX PSE Initialize part"
	depends on ARCH_CNS3XXX && CNS3XXX_GSW
	default m if CNS3XXX_GSW=m
	default y if CNS3XXX_GSW=y
	help
	  CNS3XXX layer-2 Packet Switching Enging(PSE) is a 5-port Layer-2
	  non-blocking shared-memory switch fabric: 3 MAC ports are exposed
	  for external connections, and the other two are used internally for
	  CPU port, and L2/L3/L4 Packet Processing Engine(PPE) respectively.

choice
	prompt "Board Configuration"
	depends on CNS3XXX_PSE_INIT
	default CNS3XXX_GSW_VB if CONFIG_MACH_CNS3420VB=y

config CNS3XXX_GSW_VB
	bool "Validation Board 1.x"
	select GPIO_CNS3XXX
	help
	  This configuration is used for CNS3420 Validation Board version:
	  1.1, 1,2 and 1.3. MAC0 and MAC1 connect to Broadcom BCM53115M
	  5-port 10/100/1000 switch. MAC2 connect to IC Plus IP1001 gigabit
	  ethernet transceiver.
endchoice

endmenu
