config VIDEO_BST_C1200_ISP
	tristate "BST ISP Video Input Driver"
	depends on VIDEO_DEV && VIDEO_V4L2_SUBDEV_API && MEDIA_CONTROLLER
	select VIDEOBUF2_CORE
	select V4L2_FWNODE
	select VIDEOBUF2_MEMOPS
	select VIDEOBUF2_DMA_CONTIG
	select BST_COREIP
	help
	  Support for BST Video Input driver.

config BST_C1200_CSI2_RX
	tristate "BST ISP Video Input Phy Receiver Driver"
	depends on VIDEO_DEV && VIDEO_V4L2_SUBDEV_API && OF
	select V4L2_FWNODE
	help
	  Support for BST Video Phy Receiver driver.

config BST_C1200_CSITX
	tristate "BST ISP Video CSI Output Driver"
	depends on VIDEO_DEV && VIDEO_V4L2_SUBDEV_API && OF
	select V4L2_FWNODE
	help
	  Support for BST ISP Video CSI Output Driver.