#
# MARVELL SoC drivers
#

menu "Marvell SoC drivers"

config GTI_WATCHDOG
	tristate "GTI Watchdog driver"
	depends on ARM64
	help
	  GTI Watchdog driver, provides ioctl's for applications to
	  setup and enable the NMI Watchdog and also provides
	  an mmap() interface to map GTI device memory into process
	  address space for the application to directly poke the
	  GTI watchdog without any kernel support and entry.
endmenu
