#
# MARVELL SoC drivers
#

menu "Marvell SoC drivers"

config OCTEONTX2_SDP_PF
	tristate "OcteonTX2 SDP PF driver"
	depends on ARM64 && PCI && OCTEONTX2_AF && OCTEONTX2_MBOX
	default y
	help
	  This driver configures the SDP RVU PF when OcteonTx is in PCIe EndPoint
	  mode. It sets up the SDP rings  and the VFs to be used in packet transfer
	  using the NIX block.

	  To compile this as a module choose M here.

config OCTEONTX2_DPI_PF
	tristate "OcteonTX2 DPI-DMA PF driver"
	depends on ARM64 && PCI
	default m
	help
	  Select this option to enable DPI PF driver support.
	  DPI (DMA packet interface) provides DMA support for MAC.
	  This driver intializes DPI PF device and enables VFs for supporting
	  different types of DMA transfers.

config GTI_WATCHDOG
	tristate "GTI Watchdog driver"
	depends on ARM64
	help
	  GTI Watchdog driver, provides ioctl's for applications to
	  setup and enable the NMI Watchdog and also provides
	  an mmap() interface to map GTI device memory into process
	  address space for the application to directly poke the
	  GTI watchdog without any kernel support and entry.

endmenu

