#
# MARVELL SoC drivers
#

menu "Marvell SoC drivers"

config GTI_WATCHDOG
	tristate "GTI Watchdog driver"
	depends on ARM64
	help
	  GTI Watchdog driver, provides ioctl's for applications to
	  setup and enable the NMI Watchdog and also provides
	  an mmap() interface to map GTI device memory into process
	  address space for the application to directly poke the
	  GTI watchdog without any kernel support and entry.

config HW_CSR_ACCESS
	tristate "Access HW Device Config Space"
	default m
	help
	  provides an interface which enables user space utility to read from or to write
	  to HW Device Config Space Registers, Contexts, Memory.

config MARVELL_FWLOG
	tristate "firmware log interface"
	depends on ARM64
	help
	  Provides interface to read firmware boot logs. Firmware bootlogs are saved
	  in memory that is accessible from kernel. Enabling this option allows the
	  user to dump the firmware boot logs.

	  Firmware needs to build with `RECORD_FWLOG=1` to see the boot logs and
	  U-boot config `CONFIG_FWLOG_TTYMEM` is also required to have this feature
	  validated from linux.

	  Say Y here if you want to dump the firmware boot logs from linux shell. This
	  option is available only for Octeon10 and OcteonTX2 platforms.

config MVMDIO_UIO
	tristate "Marvell MDIO interface driver"
	  default m
	select MDIO_THUNDER
	help
	  Select this option if you want to provide an interface for userspace
	  PHY drivers to access Marvell's MDIO bus.

config MARVELL_CN10K_SERDES_DIAGNOSTICS
	tristate "Marvell SerDes diagnostics debugfs driver"
	default m
	depends on DEBUG_FS
	help
	  Select this option if you want to enable SerDes diagnostics
	  interface for performing PRBS, setting Loopback mode or
	  reading/writing Tx/Rx tuning parameters.
endmenu
