config BST_IPC
	bool "Support BST IPC"
	depends on ARM64
	help
	  BST IPC driver is included
	default y
config BST_IPC_STRESS
	tristate "Support BST IPC STRESS"
	depends on ARM64
	help
	  BST IPC driver is included
	default y
	