#
# SPEAr Platform configuration file
#

config SPEAR_PLUG_BOARDS
	bool "SPEAr Plug Boards"
	help
	  Supports ST SPEAr Plug boards

config SPEAR_PWM
	tristate "SPEAr Pulse Width Modulator"
	depends on CPU_SPEAR320 || CPU_SPEAR1340
	default y
	help
	  Support for ST Microelectronics Pulse Width Modulator present on SPEAr Platform.
