#
# Sensor device configuration
#

menu "TDM Device support"

config TDM_FSL_STARLITE
        tristate "Driver for Freescale Starlite TDM controller"
        depends on FSL_SOC
        ---help---
          This is a driver for Freescale Starlite TDM controller. The controller
          is found in various Freescale SOCs viz MPC8315, P1020. The TDM driver
          basically multiplexes and demultiplexes data from different channels.
          The TDM can interface SLIC kind of devices.
endmenu
