&deser0 {
	compatible = "bst,maxim-deser-hub";
	type = "max96724";
	ctl-mode = "fad-ctl";
	reg = <0x2E>;
	i2c-port = <0>;
	csi2-port = <0>;
	lane-speed = <2400>;
	data-type = <0x2d>;
	trigger-mode = "external";
	trigger-fps = <20>;
	trigger-rx-pin = <0>;
	maxim,hsync-invert = <0>;
	maxim,vsync-invert = <0>;
	maxim,linkrx-rate = <6 3 3 3>;
	maxim,link-mode = "GMSL2";
	pdb-gpio = <&porte 26 0>;
	status = "okay";
};
&deser1 {
	compatible = "bst,maxim-deser-hub";
	type = "max96724";
	ctl-mode = "fad-ctl";
	reg = <0x4E>;
	i2c-port = <0>;
	csi2-port = <0>;
	lane-speed = <2400>;
	data-type = <0x2d>;
	trigger-mode = "external";
	trigger-fps = <20>;
	trigger-rx-pin = <0>;
	maxim,hsync-invert = <0>;
	maxim,vsync-invert = <0>;
	maxim,linkrx-rate = <3 3 3 3>;
	maxim,link-mode = "GMSL2";
	pdb-gpio = <&porte 31 0>;
	status = "okay";
};
&deser2 {
	compatible = "bst,maxim-deser-hub";
	type = "max96724";
	ctl-mode = "fad-ctl";
	reg = <0x4F>;
	i2c-port = <0>;
	csi2-port = <0>;
	lane-speed = <2400>;
	data-type = <0x2d>;
	trigger-mode = "external";
	trigger-fps = <20>;
	trigger-rx-pin = <0>;
	maxim,hsync-invert = <0>;
	maxim,vsync-invert = <0>;
	maxim,linkrx-rate = <3 3 3 3>;
	maxim,link-mode = "GMSL2";
	pdb-gpio = <&portf 0 0>;
	status = "okay";
};
