#include <dt-bindings/media/bst-isp.h>
&isp {
	memory-region = <&isp_fw_msg_rsv>,	// Required to exchange message
			<&isp_fw_buf_rsv>,	// Required for ISP firmware
			<&bst_ipc_reserved>;	// When IOMMU and IPC mode is used, must map IPC memory
	dma-coherent;
	fw-bin = "isp/core_isp.exe.msgbox";
	iommus = <&mmu600_coreip 5>;
	status = "okay";

	isp-fsync@0 {
		source = <FSYNC_INNER0>;
		tx-pin = <5>;
		tx-fps = <20>;
	};
	isp-fsync@1 {
		source = <FSYNC_INNER0>;
		tx-pin = <6>;
		tx-fps = <20>;
	};
	isp-fsync@2 {
		source = <FSYNC_INNER0>;
		tx-pin = <7>;
		tx-fps = <20>;
	};
};
