
config XRP_IPC
    tristate "XRP_IPC driver"
    
config XRP_IPC_DEBUG
    bool "Debug XRP IPC"
    depends on XRP_IPC
    
config XRP_IPC_STATE_MGT_ENABLE
    tristate "enable XRP_IPC_STATE_MGT_ENABLE for ipc"
    depends on XRP_IPC
    
config XRP_IPC_FLT_MGT_ENABLE
    tristate "enable XRP_IPC_FLT_MGT_ENABLE for ipc"
    depends on XRP_IPC


#test
