compatible = "bst,ar0233";
sensor-id = <0x10>;
data-type = <0x2c>;
fv-polarity-low = <0>;
fpd3-mode = "csi-2";
serializer = "ti953";

algo-bin = "ar0233/ar0233_raw12_ts_h60_AlgoParam.bin";
iq-bin = "ar0233/ar0233_raw12_ts_h60_IqParam.bin";