compatible = "bst,imx390";
sensor-id = <0x21>;
data-type = <0x2c>;
fv-polarity-low = <0>;
fpd3-mode = "csi-2";
serializer = "ti953";

algo-bin = "imx390/imx390_raw12_sy_h60_AlgoParam.bin";
iq-bin = "imx390/imx390_raw12_sy_h60_IqParam.bin";
