compatible = "bst,jinghua_ox08b";
sensor-id = <0x36>;
data-type = <0x2d>;
serializer = "max9295";

algo-bin = "ox08b/OX08B40_raw14_JH_h120_AlgoParam.bin";
iq-bin = "ox08b/OX08B40_raw14_JH_h120_IqParam.bin";

clock-frequency = <27>;
sensor-fps = <30>;
trigger-tx-pin = <7>;
serializer-id = <0x40>;