compatible = "bst,ms_ox3c";
sensor-id = <0x36>;
data-type = <0x2d>;
serializer = "max96717f";

algo-bin = "ox03c/OX03C10_raw14_ME_h90_AlgoParam.bin";
iq-bin = "ox03c/OX03C10_raw14_ME_h90_IqParam.bin";

sensor-fps = <30>;
trigger-tx-pin = <0>;
serializer-id = <0x62>;
