compatible = "bst,ox3f";
sensor-id = <0x36>;
data-type = <0x2c>;
serializer = "max96717f";

algo-bin = "ox03f/OX03F10_raw12_HK_h190_SVS_AlgoParam.bin";
iq-bin = "ox03f/OX03F10_raw12_HK_h190_SVS_IqParam.bin";

sensor-fps = <25>;
trigger-tx-pin = <0>;
serializer-id = <0x40>;