// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx Versal vmk180 revA
 *
 * (C) Copyright 2019, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include "versal.dtsi"
#include "versal-clk.dtsi"

/ {
	compatible = "xlnx,versal-vmk180-revA", "xlnx,versal";
	model = "Xilinx Versal vmk180 Eval board revA";

	memory: memory@0 {
		device_type = "memory";
		reg = <0 0 0 0x80000000>, <0x8 0x0 0x1 0x80000000>;
	};

	chosen {
		bootargs = "console=ttyAMA0 earlycon=pl011,mmio32,0xFF000000,115200n8 clk_ignore_unused";
		stdout-path = "serial0:115200";
	};

	aliases {
		serial0 = &serial0;
		serial2 = &dcc;
		ethernet0 = &gem0;
		ethernet1 = &gem1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		mmc0 = &sdhci1;
		spi0 = &qspi;
		usb0 = &usb0;
		rtc0 = &rtc;
	};
};

/* PMC_MIO 0 -12 - configuration header QSPI/OSPI/EMMC */
/* FIXME PMC_MIO37 ZU4_TRIGGER/PMC_MIO37/38 PCIE */

&can1 { /* MIO40-41 */
	status = "okay";
};

&dcc {
	status = "okay";
};

&rtc {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

&sdhci1 { /* PMC_MIO26-36/51 */
	status = "okay";
	xlnx,mio-bank = <1>;
	no-1-8-v;
};

&serial0 { /* PMC_MIO42/43 */
	status = "okay";
};

&gem0 { /* PMC_MIO_48, LPD_MIO0-11/24/25 */
	status = "okay";
	phy-handle = <&phy1>; /* u198 */
	phy-mode = "rgmii-id";
	mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy1: ethernet-phy@1 { /* u198 */
			#phy-cells = <1>;
			compatible = "ethernet-phy-id2000.a231";
			reg = <1>;
			ti,rx-internal-delay = <0xb>;
			ti,tx-internal-delay = <0xa>;
			ti,fifo-depth = <1>;
			ti,dp83867-rxctrl-strap-quirk;
			reset-assert-us = <100>;
			reset-deassert-us = <280>;
			reset-gpios = <&gpio1 48 GPIO_ACTIVE_LOW>;
		};
		phy2: ethernet-phy@2 { /* u134 */
			#phy-cells = <1>;
			compatible = "ethernet-phy-id2000.a231";
			reg = <2>;
			ti,rx-internal-delay = <0xb>;
			ti,tx-internal-delay = <0xa>;
			ti,fifo-depth = <1>;
			ti,dp83867-rxctrl-strap-quirk;
			reset-assert-us = <100>;
			reset-deassert-us = <280>;
			reset-gpios = <&gpio1 49 GPIO_ACTIVE_LOW>;
		};
	};
};

&gem1 { /* PMC_MIO_49, LPD_MIO12-23 */
	status = "okay";
	phy-handle = <&phy2>; /* u134 */
	phy-mode = "rgmii-id";
};

&i2c0 { /* PMC_MIO46/47 */
	status = "okay";

	tca6416_u233: gpio@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		gpio-controller; /* IRQ not connected */
		#gpio-cells = <2>;
		gpio-line-names = "MAX6643_OT_B", "MAX6643_FANFAIL_B", "", "", "PMBUS2_INA226_ALERT", "", "",
				"MAX6643_FULLSPD", "FMCP1_FMC_PRSNT_M2C_B", "FMCP2_FMC_PRSNT_M2C_B",
				"FMCP1_FMCP_PRSNT_M2C_B", "FMCP2_FMCP_PRSNT_M2C_B", "VCCINT_VRHOT_B",
				"8A34001_EXP_RST_B", "PMBUS_ALERT", "PMBUS1_INA226_ALERT";
	};

	i2c-mux@74 {
		compatible = "nxp,pca9548"; /* u33 */
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			/* PMBUS */
		};
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			/* PMBUS1_INA226 */
			u65: ina226@40 { /* u65 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u65";
				reg = <0x40>;
				shunt-resistor = <500>; /* R440 */
			};
			u161: ina226@41 { /* u161 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u161";
				reg = <0x41>;
				shunt-resistor = <500>; /* R1702 */
			};
			u163: ina226@42 { /* u163 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u163";
				reg = <0x42>;
				shunt-resistor = <5000>; /* R1214 */
			};
			u162: ina226@43 { /* u162 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u162";
				reg = <0x43>;
				shunt-resistor = <5000>; /* R1221 */
			};
			u165: ina226@44 { /* u165 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u165";
				reg = <0x44>;
				shunt-resistor = <5000>; /* R1216 */
			};
			u164: ina226@45 { /* u164 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u164";
				reg = <0x45>;
				shunt-resistor = <5000>; /* R1219 */
			};
		};
		/* 2 unconnected */
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			/* PMBUS2_INA226 */
			u166: ina226@40 { /* u166 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u166";
				reg = <0x40>;
				shunt-resistor = <5000>; /* R382 */
			};
			u168: ina226@41 { /* u168 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u168";
				reg = <0x41>;
				shunt-resistor = <5000>; /* R1246 */
			};
			u172: ina226@45 { /* u172 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u172";
				reg = <0x45>;
				shunt-resistor = <5000>; /* R1229 */
			};
			u173: ina226@46 { /* u173 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u173";
				reg = <0x46>;
				shunt-resistor = <5000>; /* R400 */
			};
			u174: ina226@47 { /* u174 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u174";
				reg = <0x47>;
				shunt-resistor = <5000>; /* R1232 */
			};
			u176: ina226@48 { /* u176 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u176";
				reg = <0x48>;
				shunt-resistor = <5000>; /* R1275 */
			};
			u177: ina226@49 { /* u177 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u177";
				reg = <0x49>;
				shunt-resistor = <5000>; /* R1286 */
			};
			u184: ina226@4a { /* u184 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u184";
				reg = <0x4a>;
				shunt-resistor = <2000>; /* R1350 */
			};
			u186: ina226@4b { /* u186 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u186";
				reg = <0x4b>;
				shunt-resistor = <2000>; /* R1367 */
			};
			u188: ina226@4c { /* u188 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u188";
				reg = <0x4c>;
				shunt-resistor = <2000>; /* R1384 */
			};
			u234: ina226@4d { /* u234 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-u234";
				reg = <0x4d>;
				shunt-resistor = <5000>; /* R1679 */
			};
		};
		/* 4 unconnected */
		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
			/* zSFP_SI570 */
			zSFP_si570: clock-generator@5d { /* zSFP SI570 - u192 */
				#clock-cells = <0>;
				compatible = "silabs,si570";
				reg = <0x5d>;
				temperature-stability = <50>;
				factory-fout = <156250000>;
				clock-frequency = <156250000>;
				clock-output-names = "zSFP_si570";
				silabs,skip-recall; /* Do not reset */
			};
		};
		i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
			/* USER_SI570_1_CLOCK */
			user_si570_1: clock-generator@5f { /* USER SI570 - u205 */
				#clock-cells = <0>;
				compatible = "silabs,si570";
				reg = <0x5f>;
				temperature-stability = <50>;
				factory-fout = <100000000>;
				clock-frequency = <100000000>;
				clock-output-names = "user_si570_1";
				silabs,skip-recall; /* Do not reset */
			};
		};
		/* 7 unconnected */
	};
};

&i2c1 { /* PMC_MIO44/45 */
	status = "okay";

	i2c-mux@74 { /* u35 */
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			eeprom: eeprom@54 { /* u34 */
				compatible = "atmel,24c128";
				reg = <0x54>;
			};
			/* SI570_REF_CLK */
			si570_ref_clk: clock-generator@5d { /* 33.333 MHz SI570 - u32 */
				#clock-cells = <0>;
				compatible = "silabs,si570";
				reg = <0x5d>;
				temperature-stability = <50>;
				factory-fout = <33333333>;
				clock-frequency = <33333333>;
				clock-output-names = "si570_ref_clk";
				silabs,skip-recall; /* Do not reset */
			};
		};
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			/* FMCP1_IIC */
		};
		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			/* FMCP2_IIC */
		};
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			/* DDR4_DIMM1_SMA_CLK */
			ddr4_dimm1_si570_clk: clock-generator@60 { /* SI570 - u2 */
				#clock-cells = <0>;
				compatible = "silabs,si570";
				reg = <0x60>;
				temperature-stability = <50>;
				factory-fout = <200000000>;
				clock-frequency = <200000000>;
				clock-output-names = "ddr4_dimm1_si570_clk";
				silabs,skip-recall; /* Do not reset */
			};
		};
		i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
			lpddr4_si570_clk2: clock-generator@60 { /* SI570 - u3 */
				compatible = "silabs,si570";
				reg = <0x60>;
				#clock-cells = <0>;
				temperature-stability = <50>;
				factory-fout = <200000000>;
				clock-frequency = <200000000>;
				clock-output-names = "lpddr4_si570_clk2";
				silabs,skip-recall; /* Do not reset */
			};
		};
		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
			lpddr4_si570_clk1: clock-generator@60 { /* SI570 - u4 */
				compatible = "silabs,si570";
				reg = <0x60>;
				#clock-cells = <0>;
				temperature-stability = <50>;
				factory-fout = <200000000>;
				clock-frequency = <200000000>;
				clock-output-names = "lpddr4_si570_clk1";
				silabs,skip-recall; /* Do not reset */
			};
		};
		i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
			hsdp_si570: clock-generator@5d { /* HSDP SI570 - u5 */
				compatible = "silabs,si570";
				reg = <0x5d>;
				#clock-cells = <0>;
				temperature-stability = <50>;
				factory-fout = <156250000>;
				clock-frequency = <156250000>;
				clock-output-names = "hsdp_si570";
				silabs,skip-recall; /* Do not reset */
			};
		};
		i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
			idt_8a34001: phc@5b { /* u219 */
				compatible = "idt,8a34001";
				reg = <0x5b>;
			};
		};
	};

	i2c-mux@75 {
		compatible = "nxp,pca9548"; /* u214 */
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x75>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			/* SFP0_IIC */
		};
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			/* SFP1_IIC */
		};
		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			/* QSPF1_IIC */
		};
		/* 3 - 7 unconnected */
	};
};

&usb0 { /* PMC_MIO13_500 - PMC_MIO25 USB 2.0 */
	status = "okay";
};

&dwc3_0 { /* USB 2.0 host */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
	snps,usb3_lpm_capable;
};

&lpd_dma_chan0 {
	status = "okay";
};

&lpd_dma_chan1 {
	status = "okay";
};

&lpd_dma_chan2 {
	status = "okay";
};

&lpd_dma_chan3 {
	status = "okay";
};

&lpd_dma_chan4 {
	status = "okay";
};

&lpd_dma_chan5 {
	status = "okay";
};

&lpd_dma_chan6 {
	status = "okay";
};

&lpd_dma_chan7 {
	status = "okay";
};
