#SPDX-License-Identifier: GPL-2.0+
#
#Phy drivers for BST platforms
#
config PHY_BST_USB
    tristate "Black Sesame Technologies USB PHY Driver"
    select GENERIC_PHY
    help
        Enable this to support the USB PHY on BST SoCs.This driver controls both the
        USB 2 PHY and the USB 3 PHY.
